<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
 </configSections>
 <connectionStrings>
	 
	 <add name="MyConnection2" connectionString="Data Source=MICHAEL-PC; Initial Catalog=DBAMS; User=sa; Password=hello;Integrated Security=True;"
   providerName="System.Data.SqlClient" />

	 <!-- <add name="DWAMS.Properties.Settings.DBAMSConnectionString" connectionString="Data Source=MICHAEL-PC;Initial Catalog=DBAMS;Integrated Security=True"
   providerName="System.Data.SqlClient" />-->

	<add name="MyConnection"
   connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DBAMS2.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
	 
 </connectionStrings>

	<appSettings>
		<add key="MessageBoxTitle" value="ရံုးတက္ရံုးဆင္း မွတ္တမ္းစနစ္"/>
	</appSettings>

	<!--Data Source - Server - Database
	Initial Catalog - Database-->
</configuration>
